body {
  background-color: pink;
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 5px;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}
p {
  text-align: center;
  margin-bottom: 5px;
}
li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  background-color: #ff6337;
  justify-content: space-evenly;
  border-radius: 10px;
}
a {
  color: black;
}
.weatherApp {
  background-color: rgba(225, 225, 225, 0.4);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 70px 70px 15px 70px;
  padding-top: 10px;
  border-radius: 10px;
  max-width: 600px;
}
.conditions {
  text-align: center;
}
.celsius {
  font-size: 30px;
  height: 55px;
}
.form {
  text-align: center;
  padding: 20px;
}
.search {
  border-radius: 45px;
  font-size: 15px;
  padding: 15px;
  border: 5px;
  border-color: #ff6337;
  width: 70%;
}
.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.button {
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  color: white;
  background-color: #ff6337;
  border: 5px;
  width: 100px;
  margin-left: 10px;
}
.weekDay {
  background-color: rgba(225, 225, 225, 0.4);
  max-width: 555px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 0 70px 15px 70px;
  padding: 10px 20px;
  border-radius: 10px;
}
a:hover {
  color: #ff6337;
  transition: 200ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  color: #ff6337;
  background-color: white;
  transition: 200ms ease-in-out;
}
.footer {
  text-align: center;
}
